.event-card {
  height: 100%;
  color: $neutral-color-3;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include breakpoint(medium) {
    padding-right: 1.0rem;
  }
  &:hover,
  &:focus {
    h3 {
      color: $accent-color-2b;
    }
    .btn {
      background-color: $secondary-color-2;
    }
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 0;
    @include breakpoint(medium up) {
      font-size: 1.6rem;
    }
    &:first-child {
      font-size: 1.7rem;
    }
    [class*="icon-du"] {
      color: $neutral-color-2;
    }
  }
  h3 {
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin-top: .6rem;
    color: $neutral-color-2;
    @include breakpoint(medium up) {
      font-size: 2.6rem;
      line-height: 3.0rem;
    }
  }
  .event-listing__details-button {
    margin-top: auto;
  }
  .btn {
    padding: .5rem 2.0rem;
    margin-top: 1.7rem;
  }
  &.visible{
    width: 30%;
    padding-right: 2%;
    height: 30.0rem;
  }
}
 //full page event card--
.columns.event-full {
  @include breakpoint(medium up) {
    margin-bottom: 5rem;
  }
}

.event-card {
  height: 100%;
  color: #525252;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  @media print, screen and (min-width: 48em) {
    .event-card {
      padding-right: 1.0rem; } }
  .event-card:hover h3, .event-card:focus h3 {
    color: #375060; }
  .event-card:hover .btn, .event-card:focus .btn {
    background-color: #898B8E; }
  .event-card p {
    font-size: 1.5rem;
    margin-bottom: 0; }
    @media print, screen and (min-width: 48em) {
      .event-card p {
        font-size: 1.6rem; } }
    .event-card p:first-child {
      font-size: 1.7rem;
      font-weight: 600;}
    .event-card p [class*="icon-du"] {
      color: #18171e; }
  .event-card h3 {
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin-top: .1rem;
    color: #18171e;
    font-weight: 600;}
    @media print, screen and (min-width: 48em) {
      .event-card h3 {
        font-size: 2.2rem;
        line-height: 1.3; } }
  .event-card .event-listing__details-button {
    margin-top: auto; }
  .event-card .btn {
    padding: .7rem 2.4rem;
    margin-top: 1.7rem; }
  .event-card.visible {
    width: 30%;
    padding-right: 2%;
    height: 30.0rem; }

@media print, screen and (min-width: 48em) {
  .columns.event-full, .paragraph--type--du-in-the-news-list .event-full.views-element-container, .event-full.paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list header.event-full {
    margin-bottom: 5rem; } }

.events-listing__top-filters {
  border-bottom: 0.2rem solid #d1d1d2;
  text-align: center; }
  @media print, screen and (min-width: 48em) {
    .events-listing__top-filters {
      text-align: left; } }
  @media print, screen and (max-width: 47.99875em) {
    .events-listing__top-filters > .columns:first-child, .paragraph--type--du-in-the-news-list .events-listing__top-filters > .views-element-container:first-child, .events-listing__top-filters > .paragraph--type--du-in-the-news-list:first-child, .show-pager.paragraph--type--du-in-the-news-list .events-listing__top-filters > header:first-child {
      border-width: 0; }
      .events-listing__top-filters > .columns:first-child + .columns, .paragraph--type--du-in-the-news-list .events-listing__top-filters > .views-element-container:first-child + .columns, .events-listing__top-filters > .paragraph--type--du-in-the-news-list:first-child + .columns, .show-pager.paragraph--type--du-in-the-news-list .events-listing__top-filters > header:first-child + .columns, .paragraph--type--du-in-the-news-list .events-listing__top-filters > .columns:first-child + .views-element-container, .paragraph--type--du-in-the-news-list .events-listing__top-filters > .views-element-container:first-child + .views-element-container, .paragraph--type--du-in-the-news-list .events-listing__top-filters > .paragraph--type--du-in-the-news-list:first-child + .views-element-container, .show-pager.paragraph--type--du-in-the-news-list .events-listing__top-filters > header:first-child + .views-element-container, .events-listing__top-filters > .columns:first-child + .paragraph--type--du-in-the-news-list, .paragraph--type--du-in-the-news-list .events-listing__top-filters > .views-element-container:first-child + .paragraph--type--du-in-the-news-list, .events-listing__top-filters > .paragraph--type--du-in-the-news-list:first-child + .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .events-listing__top-filters > header:first-child + .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .events-listing__top-filters > .columns:first-child + header, .show-pager.paragraph--type--du-in-the-news-list .events-listing__top-filters > .views-element-container:first-child + header, .show-pager.paragraph--type--du-in-the-news-list .events-listing__top-filters > .paragraph--type--du-in-the-news-list:first-child + header, .show-pager.paragraph--type--du-in-the-news-list .events-listing__top-filters > header:first-child + header {
        padding-bottom: 1.6rem; } }
  .filters-off .events-listing__top-filters .event-filter-dropdown-holder {
    display: none; }
  .event-audience-filter-off .events-listing__top-filters .event-audience-filter-holder {
    display: none; }
  .event-type-filter-off .events-listing__top-filters .event-type-filter-holder {
    display: none; }
  .events-listing__top-filters .js-form-item.js-form-type-select {
    width: 100%; }
  .events-listing__top-filters input[type='submit'] {
    margin-top: 4.0rem;
    margin-left: .8rem; }
  #datepickerImageStart, #datepickerImageEnd {
    text-align: center; }
  .events-listing__top-filters #calendar-list > ul li {
    margin-left: 0;
    margin-bottom: 1.2rem; }
    .events-listing__top-filters #calendar-list > ul li:before {
      background-color: transparent;
      content: inherit; }
    .events-listing__top-filters #calendar-list > ul li a {
      border: none;
      color: #375060;
      width: 20.0rem;
      text-align: left;
      padding-left: .4rem; 
      text-decoration: underline; 
      transition: all .25s ease; }
      .events-listing__top-filters #calendar-list > ul li a:hover, .events-listing__top-filters #calendar-list > ul li a:focus {
        text-decoration:none;
        transition: all .25s ease; }
      .events-listing__top-filters #calendar-list > ul li a:before {
        background-color: transparent; }

.events-listing__date-filters h2, .events-listing__date-filters .hero-headline-wrapper .hero-subhead, .hero-headline-wrapper .events-listing__date-filters .hero-subhead {
  font-size: 3.0rem;
  font-weight: 800;
  text-align: center; }
  @media print, screen and (min-width: 48em) {
    .events-listing__date-filters h2, .events-listing__date-filters .hero-headline-wrapper .hero-subhead, .hero-headline-wrapper .events-listing__date-filters .hero-subhead {
      font-size: 3.6rem;
      text-align: left; } }

.events-listing__date-filters #month-nav {
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  border-bottom: 1.0rem solid #a31e39; }
  .events-listing__date-filters #month-nav .month-range {
    padding-top: 0;
    padding-left: 2.0rem;
    width: 100%; }

.events-listing__date-filters #byDate {
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  border-bottom: none;
  position: relative; }
  .events-listing__date-filters #byDate h2, .events-listing__date-filters #byDate .hero-headline-wrapper .hero-subhead, .hero-headline-wrapper .events-listing__date-filters #byDate .hero-subhead {
    margin-left: 0;
    display: block;
    color: #54565B; 
    text-align: center;}
    @media print, screen and (min-width: 64em) {
      .events-listing__date-filters #byDate h2, .events-listing__date-filters #byDate .hero-headline-wrapper .hero-subhead, .hero-headline-wrapper .events-listing__date-filters #byDate .hero-subhead {
        margin-left: 0.9rem;} }
  .events-listing__date-filters #byDate > .columns > .columns > image, .events-listing__date-filters .paragraph--type--du-in-the-news-list #byDate > .views-element-container > .columns > image, .paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > .views-element-container > .columns > image, .events-listing__date-filters #byDate > .paragraph--type--du-in-the-news-list > .columns > image, .events-listing__date-filters .show-pager.paragraph--type--du-in-the-news-list #byDate > header > .columns > image, .show-pager.paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > header > .columns > image, .events-listing__date-filters .paragraph--type--du-in-the-news-list #byDate > .columns > .views-element-container > image, .paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > .columns > .views-element-container > image, .events-listing__date-filters .paragraph--type--du-in-the-news-list #byDate > .views-element-container > .views-element-container > image, .paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > .views-element-container > .views-element-container > image, .events-listing__date-filters #byDate > .paragraph--type--du-in-the-news-list > .views-element-container > image, .events-listing__date-filters .show-pager.paragraph--type--du-in-the-news-list #byDate > header > .views-element-container > image, .show-pager.paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > header > .views-element-container > image, .events-listing__date-filters #byDate > .columns > .paragraph--type--du-in-the-news-list > image, .events-listing__date-filters .paragraph--type--du-in-the-news-list #byDate > .views-element-container > .paragraph--type--du-in-the-news-list > image, .paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > .views-element-container > .paragraph--type--du-in-the-news-list > image, .events-listing__date-filters #byDate > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list > image, .events-listing__date-filters .show-pager.paragraph--type--du-in-the-news-list #byDate > header > .paragraph--type--du-in-the-news-list > image, .show-pager.paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > header > .paragraph--type--du-in-the-news-list > image, .events-listing__date-filters .show-pager.paragraph--type--du-in-the-news-list #byDate > .columns > header > image, .show-pager.paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > .columns > header > image, .events-listing__date-filters .show-pager.paragraph--type--du-in-the-news-list #byDate > .views-element-container > header > image, .show-pager.paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > .views-element-container > header > image, .events-listing__date-filters .show-pager.paragraph--type--du-in-the-news-list #byDate > .paragraph--type--du-in-the-news-list > header > image, .show-pager.paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > .paragraph--type--du-in-the-news-list > header > image, .events-listing__date-filters .show-pager.paragraph--type--du-in-the-news-list #byDate > header > header > image, .show-pager.paragraph--type--du-in-the-news-list .events-listing__date-filters #byDate > header > header > image {
    vertical-align: top; }
  .events-listing__date-filters #byDate .hasDatepicker {
    position: absolute;
    z-index: 1;
    max-width: 92vw; }
    @media print, screen and (min-width: 48em) {
      .events-listing__date-filters #byDate .hasDatepicker {
        max-width: inherit; } }
    .events-listing__date-filters #byDate .hasDatepicker#datepicker-end {
      right: 0; }
    .events-listing__date-filters #byDate .hasDatepicker a.ui-datepicker-prev, .events-listing__date-filters #byDate .hasDatepicker a.ui-datepicker-next {
      background-color: #fff;
      width: 5.5rem;
      display: none; }
    .events-listing__date-filters #byDate .hasDatepicker .ui-datepicker-title {
      background-color: #fff;
      border: .1rem solid #a31e39;
      padding-top: .5rem;
      margin: 0 4.1rem; }
      .events-listing__date-filters #byDate .hasDatepicker .ui-datepicker-title .ui-datepicker-month {
        display: inline-block;
        width: 70%;
        padding-right: 1.0rem;
        height: 4.1rem; }
      .events-listing__date-filters #byDate .hasDatepicker .ui-datepicker-title .ui-datepicker-year {
        display: inline-block;
        font-size: 2.2rem; }
    @media print, screen and (max-width: 47.99875em) {
      .events-listing__date-filters #byDate .hasDatepicker table.ui-datepicker-calendar {
        width: 90vw;
        display: block; }
        .events-listing__date-filters #byDate .hasDatepicker table.ui-datepicker-calendar > thead {
          width: 90vw;
          display: block; }
          .events-listing__date-filters #byDate .hasDatepicker table.ui-datepicker-calendar > thead > tr {
            width: 90vw;
            display: block; }
            .events-listing__date-filters #byDate .hasDatepicker table.ui-datepicker-calendar > thead > tr > th {
              width: 12.857vw;
              padding: 0.9rem; } }
    @media print, screen and (max-width: 47.99875em) {
      .events-listing__date-filters #byDate .hasDatepicker table.ui-datepicker-calendar tbody {
        width: 90vw;
        display: block; }
        .events-listing__date-filters #byDate .hasDatepicker table.ui-datepicker-calendar tbody > tr > td {
          font-size: 1.2rem;
          width: 12.857vw;
          padding: 0.9rem; }
          .events-listing__date-filters #byDate .hasDatepicker table.ui-datepicker-calendar tbody > tr > td a {
            width: auto;
            height: auto;
            border: none; } }
    @media print, screen and (max-width: 47.99875em) {
      .events-listing__date-filters #byDate .hasDatepicker table.ui-datepicker-calendar tbody thead th {
        font-size: 1.2rem; } }
    .events-listing__date-filters #byDate .hasDatepicker table.ui-datepicker-calendar tbody thead th td {
      padding: 0.018rem; }

.events-listing__date-filters a {
  color: #D5D2C5;
  display: inline-block;
  width: 4.0rem;
  height: 4.0rem;
  border: 0.2rem solid #d1d1d2;
  text-align: center; }
  .events-listing__date-filters a [class*="icon-du"] {
    font-size: 2.3rem; }
    .events-listing__date-filters a [class*="icon-du"]:before {
      margin: 0;
      width: auto;
      height: auto; }
  .events-listing__date-filters a:hover, .events-listing__date-filters a:focus {
    background-color: #D5D2C5;
    border-color: #D5D2C5;
    color: white; }

.events-listing__items {
  padding-top: 3.9rem;
  margin-bottom: 6.5rem;
  padding-left: 0;
  padding-right: 0;
  /*.js & > .columns:nth-child(1n+7) .events-listing__item {
		display: none;
	}*/ }
  @media print, screen and (min-width: 48em) {
    .events-listing__items > .columns, .paragraph--type--du-in-the-news-list .events-listing__items > .views-element-container, .events-listing__items > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .events-listing__items > header {
      padding-right: 2.6rem; } }
  .events-listing__items .events-listing__item {
    margin-bottom: 4.5rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    width: 50%;
    float: left; }
    @media print, screen and (min-width: 48em) {
      .events-listing__items .events-listing__item {
        padding-right: 0.8rem;
        padding-left: 0.8rem; } }
    .events-listing__items .events-listing__item, .events-listing__items .events-listing__item:last-child:not(:first-child) {
      float: left;
      clear: none; }
    .events-listing__items .events-listing__item:last-child:not(:first-child) {
      float: right; }
    @media print, screen and (min-width: 48em) {
      .events-listing__items .events-listing__item {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
        width: 33.33333%;
        float: left; } }
  @media print, screen and (min-width: 48em) and (min-width: 48em) {
    .events-listing__items .events-listing__item {
      padding-right: 0.8rem;
      padding-left: 0.8rem; } }
    @media print, screen and (min-width: 48em) {
        .events-listing__items .events-listing__item, .events-listing__items .events-listing__item:last-child:not(:first-child) {
          float: left;
          clear: none; }
        .events-listing__items .events-listing__item:last-child:not(:first-child) {
          float: right; } }
    @media print, screen and (min-width: 64em) {
      .events-listing__items .events-listing__item {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
        width: 25%;
        float: left; } }
  @media print, screen and (min-width: 64em) and (min-width: 48em) {
    .events-listing__items .events-listing__item {
      padding-right: 0.8rem;
      padding-left: 0.8rem; } }
    @media print, screen and (min-width: 64em) {
        .events-listing__items .events-listing__item, .events-listing__items .events-listing__item:last-child:not(:first-child) {
          float: left;
          clear: none; }
        .events-listing__items .events-listing__item:last-child:not(:first-child) {
          float: right; } }

.featured-events-module {
  margin-bottom: 7.0rem;
  position: relative; }
  @media print, screen and (min-width: 48em) {
    .featured-events-module {
      margin-bottom: 14.0rem; } }
  @media print, screen and (min-width: 64em) {
    .featured-events-module:before {
      content: "";
      left: 0;
      right: 0;
      width: 100%;
      z-index: -1;
      position: absolute;
      bottom: 0;
      top: 11.1rem;
      background-color: #f4f4f4; } }
  .featured-events-module > .row, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container, .featured-events-module > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header {
    margin-left: 0;
    margin-right: 0; }
    @media print, screen and (min-width: 48em) {
      .featured-events-module > .row, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container, .featured-events-module > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header {
        margin-left: auto;
        margin-right: auto; } }
    .featured-events-module > .row > .columns, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > .columns, .featured-events-module > .paragraph--type--du-in-the-news-list > .columns, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > .columns, .paragraph--type--du-in-the-news-list .featured-events-module > .row > .views-element-container, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > .views-element-container, .featured-events-module > .paragraph--type--du-in-the-news-list > .views-element-container, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > .views-element-container, .featured-events-module > .row > .paragraph--type--du-in-the-news-list, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > .paragraph--type--du-in-the-news-list, .featured-events-module > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > .row > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > .paragraph--type--du-in-the-news-list > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > header {
      padding-left: 0;
      padding-right: 0; }
      @media print, screen and (min-width: 48em) {
        .featured-events-module > .row > .columns, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > .columns, .featured-events-module > .paragraph--type--du-in-the-news-list > .columns, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > .columns, .paragraph--type--du-in-the-news-list .featured-events-module > .row > .views-element-container, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > .views-element-container, .featured-events-module > .paragraph--type--du-in-the-news-list > .views-element-container, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > .views-element-container, .featured-events-module > .row > .paragraph--type--du-in-the-news-list, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > .paragraph--type--du-in-the-news-list, .featured-events-module > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > .row > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > .paragraph--type--du-in-the-news-list > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > header {
          padding-right: 4.2rem;
          padding-left: 4.4rem; } }
  .featured-events-module .featured-events__calendar-link {
    margin-bottom: 1.5rem; }
    @media print, screen and (min-width: 48em) {
      .featured-events-module .featured-events__calendar-link {
        text-align: right; } }
    @media print, screen and (min-width: 64em) {
      .featured-events-module .featured-events__calendar-link {
        margin-bottom: -.7rem; } }
    .featured-events-module .featured-events__calendar-link a {
      font-weight: bold;
      text-decoration: none;
      padding-left: 2.0rem; }
  .featured-events-module .orbit-next,
  .featured-events-module .orbit-previous,
  .featured-events-module .slick-next:before,
  .featured-events-module .slick-prev:before {
    color: #81796f;
    font-size: 3.1rem;
    margin-top: -3.3rem;
    transition: color 0.3s ease;
    z-index: 2;
    display: none; }
    @media print, screen and (min-width: 48em) {
      .featured-events-module .orbit-next,
      .featured-events-module .orbit-previous,
      .featured-events-module .slick-next:before,
      .featured-events-module .slick-prev:before {
        display: up; } }
    .featured-events-module .orbit-next:hover, .featured-events-module .orbit-next:focus,
    .featured-events-module .orbit-previous:hover,
    .featured-events-module .orbit-previous:focus,
    .featured-events-module .slick-next:before:hover,
    .featured-events-module .slick-next:before:focus,
    .featured-events-module .slick-prev:before:hover,
    .featured-events-module .slick-prev:before:focus {
      color: #A89968;
      background-color: transparent;
      cursor: pointer;
      outline: 0 !important; }
  .featured-events-module .orbit-previous,
  .featured-events-module .slick-prev {
    left: -4.2rem; }
    .featured-events-module .orbit-previous:before,
    .featured-events-module .slick-prev:before {
      content: '\e801'; }
  .featured-events-module .slick-next,
  .featured-events-module .orbit-next {
    right: -4.2rem; }
    .featured-events-module .slick-next:before,
    .featured-events-module .orbit-next:before {
      content: '\e800'; }
  .featured-events-module .slick-next,
  .featured-events-module .slick-prev {
    font-size: .1rem;
    color: transparent;
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;
    display: none; }
    .featured-events-module .slick-next:before,
    .featured-events-module .slick-prev:before {
      color: #81796f;
      font-size: 3.1rem;
      margin-top: -3.3rem;
      transition: color 0.3s ease;
      z-index: 2;
      position: sticky; }
      @media print, screen and (min-width: 48em) {
        .featured-events-module .slick-next:before,
        .featured-events-module .slick-prev:before {
          display: block; } }
      .featured-events-module .slick-next:before:hover, .featured-events-module .slick-next:before:focus,
      .featured-events-module .slick-prev:before:hover,
      .featured-events-module .slick-prev:before:focus {
        color: #A89968;
        background-color: transparent;
        cursor: pointer;
        outline: 0 !important; }
  .featured-events-module .slick-prev {
    left: -4.2rem; }
  .featured-events-module .slick-next {
    right: -4.2rem; }
  .featured-events-module .orbit-bullets {
    margin-bottom: 2.6rem;
    margin-top: 0; }
  @media print, screen and (min-width: 48em) {
    .featured-events-module {
      margin-bottom: 10.0rem; }
      .featured-events-module > .row, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container, .featured-events-module > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header {
        max-width: 127.0rem;
        overflow: hidden; }
        .featured-events-module > .row > .columns, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > .columns, .featured-events-module > .paragraph--type--du-in-the-news-list > .columns, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > .columns, .paragraph--type--du-in-the-news-list .featured-events-module > .row > .views-element-container, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > .views-element-container, .featured-events-module > .paragraph--type--du-in-the-news-list > .views-element-container, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > .views-element-container, .featured-events-module > .row > .paragraph--type--du-in-the-news-list, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > .paragraph--type--du-in-the-news-list, .featured-events-module > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > .row > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > .paragraph--type--du-in-the-news-list > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header > header {
          padding-right: 4.2rem;
          padding-left: 4.4rem; }
      .featured-events-module .orbit-container {
        overflow: visible; }
        .featured-events-module .orbit-container:focus {
          outline: 0; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .featured-events-module > .row, .paragraph--type--du-in-the-news-list .featured-events-module > .views-element-container, .featured-events-module > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module > header {
      max-width: 96%; } }
  .featured-events-module .orbit-slide:focus,
  .featured-events-module .slick-slide:focus {
    outline: 0; }
  .featured-events-module .orbit-slide > .row, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container, .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header,
  .featured-events-module .slick-slide > .row,
  .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .views-element-container,
  .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container,
  .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list,
  .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header,
  .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header {
    margin-left: 0;
    margin-right: 0; }
    @media print, screen and (min-width: 48em) {
      .featured-events-module .orbit-slide > .row, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container, .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header,
      .featured-events-module .slick-slide > .row,
      .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .views-element-container,
      .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container,
      .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list,
      .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header,
      .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header {
        margin-left: -0.8rem;
        margin-right: -0.8rem; } }
    .featured-events-module .orbit-slide > .row > .columns, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container > .columns, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container > .columns, .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list > .columns, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header > .columns, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header > .columns, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .row > .views-element-container, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .row > .views-element-container, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container > .views-element-container, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container > .views-element-container, .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list > .views-element-container, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header > .views-element-container, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header > .views-element-container, .featured-events-module .orbit-slide > .row > .paragraph--type--du-in-the-news-list, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container > .paragraph--type--du-in-the-news-list, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container > .paragraph--type--du-in-the-news-list, .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header > .paragraph--type--du-in-the-news-list, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > .row > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .row > header, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container > header, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > .paragraph--type--du-in-the-news-list > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list > header, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header > header,
    .featured-events-module .slick-slide > .row > .columns,
    .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .views-element-container > .columns,
    .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container > .columns,
    .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list > .columns,
    .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header > .columns,
    .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header > .columns,
    .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .row > .views-element-container,
    .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .row > .views-element-container,
    .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .views-element-container > .views-element-container,
    .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container > .views-element-container,
    .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list > .views-element-container,
    .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header > .views-element-container,
    .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header > .views-element-container,
    .featured-events-module .slick-slide > .row > .paragraph--type--du-in-the-news-list,
    .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .views-element-container > .paragraph--type--du-in-the-news-list,
    .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container > .paragraph--type--du-in-the-news-list,
    .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list,
    .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header > .paragraph--type--du-in-the-news-list,
    .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header > .paragraph--type--du-in-the-news-list,
    .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > .row > header,
    .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .row > header,
    .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > .views-element-container > header,
    .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container > header,
    .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > .paragraph--type--du-in-the-news-list > header,
    .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list > header,
    .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header > header,
    .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header > header {
      padding-left: 0;
      padding-right: 0; }
      @media print, screen and (min-width: 48em) {
        .featured-events-module .orbit-slide > .row > .columns, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container > .columns, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container > .columns, .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list > .columns, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header > .columns, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header > .columns, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .row > .views-element-container, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .row > .views-element-container, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container > .views-element-container, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container > .views-element-container, .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list > .views-element-container, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header > .views-element-container, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header > .views-element-container, .featured-events-module .orbit-slide > .row > .paragraph--type--du-in-the-news-list, .featured-events-module .paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container > .paragraph--type--du-in-the-news-list, .paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container > .paragraph--type--du-in-the-news-list, .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header > .paragraph--type--du-in-the-news-list, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > .row > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .row > header, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > .views-element-container > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .views-element-container > header, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > .paragraph--type--du-in-the-news-list > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > .paragraph--type--du-in-the-news-list > header, .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .orbit-slide > header > header, .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .orbit-slide > header > header,
        .featured-events-module .slick-slide > .row > .columns,
        .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .views-element-container > .columns,
        .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container > .columns,
        .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list > .columns,
        .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header > .columns,
        .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header > .columns,
        .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .row > .views-element-container,
        .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .row > .views-element-container,
        .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .views-element-container > .views-element-container,
        .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container > .views-element-container,
        .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list > .views-element-container,
        .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header > .views-element-container,
        .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header > .views-element-container,
        .featured-events-module .slick-slide > .row > .paragraph--type--du-in-the-news-list,
        .featured-events-module .paragraph--type--du-in-the-news-list .slick-slide > .views-element-container > .paragraph--type--du-in-the-news-list,
        .paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container > .paragraph--type--du-in-the-news-list,
        .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list,
        .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header > .paragraph--type--du-in-the-news-list,
        .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header > .paragraph--type--du-in-the-news-list,
        .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > .row > header,
        .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .row > header,
        .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > .views-element-container > header,
        .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .views-element-container > header,
        .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > .paragraph--type--du-in-the-news-list > header,
        .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > .paragraph--type--du-in-the-news-list > header,
        .featured-events-module .show-pager.paragraph--type--du-in-the-news-list .slick-slide > header > header,
        .show-pager.paragraph--type--du-in-the-news-list .featured-events-module .slick-slide > header > header {
          padding-left: 0.8rem;
          padding-right: 0.8rem; } }
  .featured-events-module .orbit-slide img,
  .featured-events-module .slick-slide img {
    width: 100%;
    height: auto; }
  .featured-events-module .orbit-slide .featured-events__content,
  .featured-events-module .slick-slide .featured-events__content {
    background-color: white;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    padding: 2.3rem 2.0rem 5.1rem; }
    @media print, screen and (min-width: 48em) {
      .featured-events-module .orbit-slide .featured-events__content,
      .featured-events-module .slick-slide .featured-events__content {
        margin-top: -8.7rem;
        margin-left: 7.2rem; } }
    @media print, screen and (min-width: 64em) {
      .featured-events-module .orbit-slide .featured-events__content,
      .featured-events-module .slick-slide .featured-events__content {
        margin: 2.3rem 0 3.5rem -4.0rem;
        padding: 3.6rem 4.0rem 6.0rem; } }
    .featured-events-module .orbit-slide .featured-events__content .featured-events__date,
    .featured-events-module .slick-slide .featured-events__content .featured-events__date {
      margin-bottom: 0;
      font-size: 1.7rem; }
      @media print, screen and (min-width: 48em) {
        .featured-events-module .orbit-slide .featured-events__content .featured-events__date,
        .featured-events-module .slick-slide .featured-events__content .featured-events__date {
          font-size: 2.4rem; } }
      .featured-events-module .orbit-slide .featured-events__content .featured-events__date + h4,
      .featured-events-module .slick-slide .featured-events__content .featured-events__date + h4 {
        margin-top: .5rem; }
    .featured-events-module .orbit-slide .featured-events__content h4,
    .featured-events-module .slick-slide .featured-events__content h4 {
      font-weight: 800;
      margin-bottom: .2rem;
      font-size: 2.2rem;
      line-height: 1.375; }
      @media print, screen and (min-width: 48em) {
        .featured-events-module .orbit-slide .featured-events__content h4,
        .featured-events-module .slick-slide .featured-events__content h4 {
          font-size: 2.6rem;
          line-height: 1.625; } }
      @media print, screen and (min-width: 48em) {
        .featured-events-module .orbit-slide .featured-events__content h4 + p,
        .featured-events-module .slick-slide .featured-events__content h4 + p {
          display: block; } }
    .featured-events-module .orbit-slide .featured-events__content .featured-events__details,
    .featured-events-module .slick-slide .featured-events__content .featured-events__details {
      margin-left: -.4rem; }
      .featured-events-module .orbit-slide .featured-events__content .featured-events__details li,
      .featured-events-module .slick-slide .featured-events__content .featured-events__details li {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
        font-size: 1.5rem;
        line-height: 2.2rem; }
        @media print, screen and (min-width: 48em) {
          .featured-events-module .orbit-slide .featured-events__content .featured-events__details li,
          .featured-events-module .slick-slide .featured-events__content .featured-events__details li {
            font-size: inherit;
            line-height: inherit; } }
        .featured-events-module .orbit-slide .featured-events__content .featured-events__details li:before,
        .featured-events-module .slick-slide .featured-events__content .featured-events__details li:before {
          display: none; }
    .featured-events-module .orbit-slide .featured-events__content .btn-wrap,
    .featured-events-module .slick-slide .featured-events__content .btn-wrap {
      width: 100%;
      margin-bottom: 0;
      text-align: left; }
    .featured-events-module .orbit-slide .featured-events__content .btn-wrap .btn,
    .featured-events-module .slick-slide .featured-events__content .btn-wrap .btn {
      min-width: 12.0rem;
      font-size: 1.6rem;
      padding-top: .6rem;
      padding-bottom: .6rem; 
      text-align: center; }
        @media print, screen and (min-width: 48em) {
          .featured-events-module .orbit-slide .featured-events__content .btn-wrap .btn,
          .featured-events-module .slick-slide .featured-events__content .btn-wrap .btn {
            font-size: 1.7rem; } }
        @media print, screen and (min-width: 64em) {
          .featured-events-module .orbit-slide .featured-events__content .btn-wrap .btn,
          .featured-events-module .slick-slide .featured-events__content .btn-wrap .btn {
            min-width: 15.6rem;
            font-size: 1.7rem;
            padding-top: 1.1rem;
            padding-bottom: 1.1rem; } }

.new-featured-events {
  margin-bottom: 7.0rem;
  position: relative;
  background-color: #fff; }
  @media print, screen and (min-width: 48em) {
    .new-featured-events {
      margin-bottom: 14.0rem; } }
  .new-featured-events > .row, .paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container, .new-featured-events > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header {
    margin-left: 0;
    margin-right: 0; }
    .new-featured-events > .row > .columns, .paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container > .columns, .new-featured-events > .paragraph--type--du-in-the-news-list > .columns, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header > .columns, .paragraph--type--du-in-the-news-list .new-featured-events > .row > .views-element-container, .paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container > .views-element-container, .new-featured-events > .paragraph--type--du-in-the-news-list > .views-element-container, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header > .views-element-container, .new-featured-events > .row > .paragraph--type--du-in-the-news-list, .paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container > .paragraph--type--du-in-the-news-list, .new-featured-events > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > .row > header, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container > header, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > .paragraph--type--du-in-the-news-list > header, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header > header {
      padding-left: 0;
      padding-right: 0; }
  @media (min-width: 768px) {
    .new-featured-events > .row, .paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container, .new-featured-events > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header {
      margin-left: auto;
      margin-right: auto; }
      .new-featured-events > .row > .columns, .paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container > .columns, .new-featured-events > .paragraph--type--du-in-the-news-list > .columns, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header > .columns, .paragraph--type--du-in-the-news-list .new-featured-events > .row > .views-element-container, .paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container > .views-element-container, .new-featured-events > .paragraph--type--du-in-the-news-list > .views-element-container, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header > .views-element-container, .new-featured-events > .row > .paragraph--type--du-in-the-news-list, .paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container > .paragraph--type--du-in-the-news-list, .new-featured-events > .paragraph--type--du-in-the-news-list > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > .row > header, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container > header, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > .paragraph--type--du-in-the-news-list > header, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header > header {
        padding-right: 4.2rem;
        padding-left: 4.4rem; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .new-featured-events > .row, .paragraph--type--du-in-the-news-list .new-featured-events > .views-element-container, .new-featured-events > .paragraph--type--du-in-the-news-list, .show-pager.paragraph--type--du-in-the-news-list .new-featured-events > header {
      max-width: 96%; } }
  .new-featured-events .slick-next,
  .new-featured-events .slick-prev {
    font-size: .1rem;
    color: transparent;
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;
    display: none; }
    .new-featured-events .slick-next:before,
    .new-featured-events .slick-prev:before {
      color: #81796f;
      font-size: 3.1rem;
      margin-top: -3.3rem;
      transition: color 0.3s ease;
      z-index: 2;
      position: sticky; }
      @media print, screen and (min-width: 48em) {
        .new-featured-events .slick-next:before,
        .new-featured-events .slick-prev:before {
          display: block; } }
      .new-featured-events .slick-next:before:hover, .new-featured-events .slick-next:before:focus,
      .new-featured-events .slick-prev:before:hover,
      .new-featured-events .slick-prev:before:focus {
        color: #A89968;
        background-color: transparent;
        cursor: pointer;
        outline: 0 !important; }
  .new-featured-events .slick-prev {
    left: -4.2rem; }
    .new-featured-events .slick-prev:before {
      content: '\e801'; }
  .new-featured-events .slick-next {
    right: -4.2rem; }
    .new-featured-events .slick-next:before {
      content: '\e800'; }
  .new-featured-events .wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px; }
    .new-featured-events .wrapper .top {
      position: relative; }
      .new-featured-events .wrapper .top img {
        width: 100%; }
      .new-featured-events .wrapper .top a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.3s ease 0.1s; }
        .new-featured-events .wrapper .top a span {
          position: absolute;
          padding: 10px;
          border-radius: 3px;
          background-color: #BA0C2F;
          top: 50%;
          left: 50%;
          opacity: 0;
          color: #fff;
          transform: translate(-50%, -50%);
          transition: opacity 0.3s ease 0.1s; }
        .new-featured-events .wrapper .top a:hover {
          background-color: rgba(0, 0, 0, 0.3); }
          .new-featured-events .wrapper .top a:hover span {
            opacity: 1; }
    .new-featured-events .wrapper .bottom {
      position: relative;
      border: 1px solid #eee;
      padding: 40px 20px 20px; }
      .new-featured-events .wrapper .bottom .featured-events__date {
        position: absolute;
        z-index: 9;
        right: 10px;
        top: -40px;
        width: 80px;
        height: 80px;
        padding: 12px 0 0;
        border-radius: 100%;
        border: 3px solid #fff;
        text-align: center;
        color: #fff;
        background-color: #BA0C2F;
        text-transform: uppercase;
        font-weight: 700;
        float: right; }
        .new-featured-events .wrapper .bottom .featured-events__date .first {
          display: block;
          font-size: 28px;
          line-height: 1; }
        .new-featured-events .wrapper .bottom .featured-events__date .second {
          display: block;
          font-size: 13px;
          line-height: 1.3;
          opacity: .8; }
      .new-featured-events .wrapper .bottom .featured-events__content h6 {
        margin: 0; }
      .new-featured-events .wrapper .bottom .featured-events__content .featured-events__details {
        display: flex;
        margin: 15px 0;
        font-size: 14px;
        color: #888888;
        gap: 5px; }
        .new-featured-events .wrapper .bottom .featured-events__content .featured-events__details .icon-du-location:before {
          margin: 0; }

.event__details {
  font-size: 2.0rem;
  color: #18171e;
  font-weight: 600;
  margin-bottom: 2.2rem; }
  .event__details p {
    margin-bottom: .6rem; }

#events-listing__show-more a {
  display: block;
  text-decoration: none;
  border-bottom: 0.1rem solid #d1d1d2;
  position: relative;
  height: 1.5rem; }
  #events-listing__show-more a [class*="icon-du"] {
    position: absolute;
    margin-left: -1.55rem;
    left: 50%;
    bottom: -1.4rem; }
    #events-listing__show-more a [class*="icon-du"]:before {
      width: 3.0rem;
      height: 3.0rem;
      border: 0.1rem solid #D5D2C5;
      background-color: white;
      color: #81796f;
      padding: 0;
      font-size: 2.3rem;
      line-height: 2.7rem;
      transition: background-color 0.5s ease;
      border-radius: 1.6rem;
      margin-left: 0;
      margin-right: 0; }
  #events-listing__show-more a:hover [class*="icon-du"]:before, #events-listing__show-more a:focus [class*="icon-du"]:before {
    background-color: #D5D2C5;
    color: white; }

.events-listing__no-events {
  display: none !important;
  margin-top: 4.0rem;
  margin-bottom: 6.0rem;
  width: 100%;
  text-align: center; }

.event-detail footer {
  margin-top: 3.5rem; }

.event-filter-dropdown-holder {
  position: relative;
  margin: 2.4rem auto 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }
  @media print, screen and (min-width: 64em) {
    .event-filter-dropdown-holder {
      margin-top: 5.0rem; } }
  .event-filter-dropdown-holder form.button-group {
    flex-wrap: wrap;
    justify-content: center; }
  .event-filter-dropdown-holder .btn.btn--event-filter,
  .event-filter-dropdown-holder a.btn.btn--event-filter:not(.info) {
    height: auto;
    width: calc(50% - 1.0rem);
    min-width: 13.0rem;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 1.0rem;
    font-size: 1.4rem; }
    @media print, screen and (min-width: 48em) {
      .event-filter-dropdown-holder .btn.btn--event-filter,
      .event-filter-dropdown-holder a.btn.btn--event-filter:not(.info) {
        width: auto;
        padding: 1.3rem 1.0rem; } }
    @media print, screen and (min-width: 64em) {
      .event-filter-dropdown-holder .btn.btn--event-filter,
      .event-filter-dropdown-holder a.btn.btn--event-filter:not(.info) {
        font-size: 1.6rem;
        min-width: 17.0rem; } }
  .event-filter-dropdown-holder a.btn.btn--event-filter.info {
    min-width: 0;
    position: relative; }
    .event-filter-dropdown-holder a.btn.btn--event-filter.info.active:after {
      content: '';
      border-bottom: 2.9rem solid #2A2930;
      border-right: 2.9rem solid transparent;
      border-left: 2.9rem solid transparent;
      width: 5.8rem;
      display: inline-block;
      position: absolute;
      bottom: -3.9rem;
      left: 50%;
      transform: translateX(-50%); }
  @media print, screen and (min-width: 48em) {
    .event-filter-dropdown-holder p + p {
      margin-left: 1.0rem; }
    .event-filter-dropdown-holder .btn + .btn {
      margin-left: 1.0rem; } }

.event-container {
  margin-bottom: 5.0rem; }
  .event-container span.location, .event-container span.audience {
    margin-left: -3.0rem;
    padding-left: 3.0rem;
    display: inline-table;
    width: 50.0rem;
    max-width: 85vw; }
    @media print, screen and (min-width: 48em) {
      .event-container span.location, .event-container span.audience {
        width: 55.0rem; } }
    @media print, screen and (min-width: 64em) {
      .event-container span.location, .event-container span.audience {
        width: 59.0rem; }
        .event-container span.location > span, .event-container span.audience > span {
          width: 45.0rem;
          display: inherit; } }
  .event-container div.description {
    margin: .1remx 0 3.0rem; }